# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Thoughts and Notes
email: simon@ochsenreither.de
description: >
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site
twitter_username: oxnrtr
github_username:  soc
plugins_dir:
  - jekyll-redirect-from
future: false
collections:
  standards:
    output: true
    name: "Standards"
    published: true
  hardware:
    output: true
    name: "Hardware"
    published: true
  languages:
    output: true
    name: "Languages"
    published: true
  interfaces:
    output: true
    name: "Interfaces"
    published: true
  scala:
    output: true
    name: "Scala"
    published: true
  talks:
    output: true
    name: "Talks"
    published: false
defaults:
  -
    scope:
      type: standards
    values:
      layout: post
  -
    scope:
      type: hardware
    values:
      layout: post
  -
    scope:
      type: languages
    values:
      layout: post
  -
    scope:
      type: interfaces
    values:
      layout: post
  -
    scope:
      type: scala
    values:
      layout: post
  -
    scope:
      type: talks
    values:
      layout: talk

# Build settings
markdown: kramdown

exclude:
  - Gemfile
  - Gemfile.lock
  - .vendor/
