# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Thoughts and Notes
email: simon@ochsenreither.de
description: >
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site
twitter_username: oxnrtr
github_username:  soc
future: false
collections:
  six-years-of-scala-development:
    output: true
    name: "Six Years of Scala Development"
    published: true
  lessons-learned:
    output: true
    name: "Lessons Learned"
    published: true
  talks:
    output: true
    name: "Talks"
    published: false
defaults:
  -
    scope:
      type: six-years-of-scala-development
    values:
      layout: post
  -
    scope:
      type: lessons-learned
    values:
      layout: post
  -
    scope:
      type: talks
    values:
      layout: talk
# Build settings
markdown: kramdown

exclude:
  - Gemfile
  - Gemfile.lock
  - .vendor/
