<head itemscope itemtype="http://schema.org/WebSite">
  <link rel=icon href=data:,>
  <link rel=stylesheet href="/assets/css/main.css">
  <script async src="/assets/js/turnBack.js"></script>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name=description content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel=canonical href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel=alternate type="application/rss+xml" title="{{ site.title | escape }} RSS Feed" href="{{ "/feed/" | absolute_url }}"/>
  <link rel=me href="https://chaos.social/@soc">
</head>
