<!DOCTYPE html>
<html>
  <head>
    <title>Simplifying Scala</title>
    <meta charset='utf-8'>
    <meta content='width=1024, user-scalable=no' name='viewport'>
    <!-- deck.js's core css -->
    <link href="deck.js/core/deck.core.css" rel="stylesheet" type="text/css"/>
    <!-- deck.js extension CSS files -->
    <link href="deck.js/extensions/navigation/deck.navigation.css" rel="stylesheet" type="text/css"/>
    <link href="deck.js/extensions/hash/deck.hash.css" rel="stylesheet" type="text/css"/>
    <link href="deck.js/extensions/menu/deck.menu.css" rel="stylesheet" type="text/css"/>
    <link href="deck.js/extensions/status/deck.status.css" rel="stylesheet" type="text/css"/>
    <link href="deck.js/extensions/goto/deck.goto.css" rel="stylesheet" type="text/css"/>
    <link href="deck.js/extensions/deck.js-codemirror/deck.codemirror.css" rel="stylesheet" type="text/css"/>
    <link href="deck.js/extensions/scale/deck.scale.css" rel="stylesheet" type="text/css"/>
    <!-- all css in the css dir: Keydown CSS, your custom CSS, and themes from deck.js -->
    <link href="/assets/css/fonts.css" rel="stylesheet" type="text/css"/>
    <link href="css/keydown.css" rel="stylesheet" type="text/css"/>
    <link href="css/default.css" rel="stylesheet" type="text/css"/>
    <link href="css/swiss.css" rel="stylesheet" type="text/css"/>
    <link href="css/scala-2.10.css" rel="stylesheet" type="text/css"/>
    <!-- Modernizr (provided for legacy browsers) -->
    <script src="deck.js/support/modernizr.custom.js" type="text/javascript"></script>
  </head>
  <body class='deck-container keydown'>
    <section class='intro slide'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Scala Puzzlers</h1>
        <p><img height="50%" src="images/scala.png"/></p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>What's Scala?</h1>

        <p><strong>Object-oriented and functional</strong></p>

        <p><em>“A drunken Martin Odersky sees a Reese's Peanut Butter Cup ad featuring somebody's peanut butter getting on somebody else's chocolate and has an idea.<br /> He creates Scala, a language that unifies constructs from both object oriented and functional languages. This pisses off both groups and each promptly declares jihad.”</em> ¹</p>

        <p><small>¹ A Brief, Incomplete, and Mostly Wrong History of Programming Languages</p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>What's Scala?</h1>

        <p><strong>Statically typed with local type inference</strong></p>

        <p><textarea class='code' display='none' mode='text/x-scala'>val hi: String = "Hi KaFP!"</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>What's Scala?</h1>

        <p><strong>Class/trait-based inheritance and subtyping</strong></p>

        <p><textarea class='code' display='none' mode='text/x-scala'>trait HasName {&#x000A;  def name: String&#x000A;}&#x000A;&#x000A;class Person(val name: String)&#x000A;    extends HasName</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>What's Scala?</h1>

        <p><strong>First-class functions/lambdas/methods</strong></p>

        <p><textarea class='code' display='none' mode='text/x-scala'>def isEven(i: Int) = i % 2 == 0&#x000A;(1 to 16)&#x000A;  .filter(isEven)&#x000A;  .map(_.toBinaryString)</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>What's Scala?</h1>

        <ul>
        <li>Compiles to Java bytecode, runs on the JVM</li>
        <li>A Java class is a Scala class, too</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>The Plan for Today</h1>

        <ul>
        <li><strong>No introduction</strong> to the language …</li>
        <li>… but all code snippets will be explained</li>
        <li>Examples of <strong>small &amp; huge simplifications</strong> …

        <ul>
        <li>mostly in the language,</li>
        <li>but also in the standard library</li>
        </ul>
        </li>
        <li>Lessons learned?</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>The Three Laws of <br/> Programming Language Design</h1>

        <p>Joe Armstrong (creator of Erlang):</p>

        <ol>
        <li><em>What you get right nobody mentions</em></li>
        <li><em>What you get wrong, people bitch about</em></li>
        <li><em>What is difficult to understand you have<br/>to explain to people over and over again</em></li>
        </ol>


        <p><br />
        We'll focus on 2. and 3. today.</p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Why isn't everyting dead-simple?</h1>

        <ul>
        <li>Expressivity and power come with a price</li>
        <li>Unintended feature interactions</li>
        <li>Feature &amp; scope creep</li>
        <li>Legacy issues and compatibility bloat</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Simplicity</h1>

        <ul>
        <li>Simple to specify?</li>
        <li>Simple to implement?</li>
        <li>Simple to use?</li>
        </ul>


        <p><br/>
        <em>Simplest solution which works consistently<br/>(and still takes all known issues into account)?</em></p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Example I: Array Syntax</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>// Java/C#/…: special syntax rules&#x000A;int[] nums = new int[5];&#x000A;nums[0] = 42;&#x000A;int answer = nums[0];</textarea>
    </p>

        <p><textarea class='code' display='none' mode='text/x-scala'>// Scala: apply and update methods&#x000A;val nums = new Array[Int](5)&#x000A;nums(0) = 42&#x000A;val answer = nums(0)</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Scala's Approach</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>val nums = new Array[Int](5)&#x000A;&#x000A;nums(0) = 42&#x000A;// nums.update(0, 42)&#x000A;&#x000A;val answer = nums(0)&#x000A;// val answer = nums.apply(0)</textarea>
    </p>

        <p><strong>Works for all types which define <code>apply</code> or <code>update</code>!</strong></p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Example II: Operators …</h1>

        <p><strong>… because readability is not optional!</strong></p>

        <p><textarea class='code' display='none' mode='text/x-scala'>// Compare ...&#x000A;1 + 2 * 3 / 4 - 5&#x000A;// ... to:&#x000A;minus(add(1, divide(multiply(2, 3), 4)) - 5)</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Scala's Solution in Theory</h1>

        <ul>
        <li>No operators, just methods</li>
        <li>No restriction on method names</li>
        <li>Binary calls can leave out <code>.</code> and <code>()</code></li>
        <li>Precedence is determined by first char</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Scala's Solution in Practice</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>val hello = "Hello KaFP".take(5)</textarea>
    </p>

        <p><textarea class='code' display='none' mode='text/x-scala'>val hello = "Hello KaFP" take 5</textarea>
    </p>

        <p><textarea class='code' display='none' mode='text/x-scala'>val three: Int = 1 + 2</textarea>
    </p>

        <p><textarea class='code' display='none' mode='text/x-scala'>val three: Int = 1.+(2)</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='red slide'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>The Past</h1>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left red slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Floating-Point Literals</h1>

        <p><strong>Floating-point-literal-without-digit-after-dot</strong>
        <textarea class='code' display='none' mode='text/x-scala'>val num = 42.&#x000A;val sum = 23.+(17)</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left red slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Floating-Point Literals</h1>

        <p><strong>Floating-point-literal-without-digit-after-dot<br/>(deprecated in 2.10)</strong>
        <textarea class='code' display='none' mode='text/x-scala'>val num = 42.&#x000A;val sum = 23.+(17)</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left red slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Octal Literals</h1>

        <p><strong>Octal numeric literal</strong>
        <textarea class='code' display='none' mode='text/x-scala'>val bond = 007</textarea>
    </p>

        <p><strong>Octal escape literal</strong>
        <textarea class='code' display='none' mode='text/x-scala'>val abc = "\141\142\143"</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left red slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Octal Literals</h1>

        <p><strong>Octal numeric literal (deprecated in 2.10)</strong>
        <textarea class='code' display='none' mode='text/x-scala'>val bond = 007</textarea>
    </p>

        <p><strong>Octal escape literal (deprecated in 2.11)</strong>
        <textarea class='code' display='none' mode='text/x-scala'>val abc = "\141\142\143"</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left red slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Primitive Type Aliases</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>def getRandomNumber: Int = 4&#x000A;val myRandomNumber:  int = getRandomNumber</textarea>
    </p>

        <ul>
        <li>Pointless choices to achieve the same result</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='red slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Type Hierarchy (2.9/2.10)</h1>

        <p><a href="images/classhierarchy.png"><img src="images/classhierarchy.png"/></a></p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='red slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Type Hierarchy (2.10/2.11)</h1>

        <p><a href="images/classhierarchy-new.png"><img src="images/classhierarchy-new.png"/></a></p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='red slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Library Clean-up I (2.10)</h1>

        <p><img width="700px" src="images/futures-2.10-cropped.png"/></p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='red slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Library Clean-up I (2.11)</h1>

        <p><img width="700px" src="images/futures-2.11-cropped.png"/></p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left red slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Library Clean-up II (2.9)</h1>

        <p><strong><code>scala.mobile</code></strong>
        <textarea class='code' display='none' mode='text/x-scala'>/** The class Location provides a create&#x000A;  * method to instantiate objects from a&#x000A;  * network location by specifying the&#x000A;  * URL address of the jar/class file.&#x000A;  * ...&#x000A;  * @version 1.0, 04/05/2004&#x000A;  */&#x000A;class Location { ... }</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left red slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Library Clean-up III (2.10)</h1>

        <p><strong><code>scala.text</code></strong>
        <textarea class='code' display='none' mode='text/x-scala'>/** A basic pretty-printing library, based&#x000A;  * on Lindig's strict version of Wadler's&#x000A;  * adaptation of Hughes' pretty-printer.&#x000A;  */&#x000A;abstract class Document</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left red slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Library Clean-up IV (2.10)</h1>

        <p><strong><code>scala.util.regex.automata</code></strong>
        <textarea class='code' display='none' mode='text/x-scala'>/** This class turns a regular expression&#x000A;  * over `A` into a `NondetWordAutom` over&#x000A;  * `A` using the celebrated position&#x000A;  * automata construction (also called &#x000A;  * ''Berry-Sethi'' or ''Glushkov'').&#x000A;  */&#x000A;abstract class BaseBerrySethi</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='orange slide'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>The Present</h1>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Procedures I</h1>

        <ul>
        <li>Special syntax for methods without return value</li>
        <li>Return type of <code>Unit</code> (~ <code>void</code>)</li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>def foo1() { 1 + 2 }&#x000A;def foo2() = 1 + 2&#x000A;def foo3(): Unit = { 1 + 2 }</textarea>
    </p>

        <ul>
        <li>Extremely error-prone and silent error path</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Procedures I</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>// multiply a and b:&#x000A;def multiply(a: Int, b: Int) { a * b }&#x000A;&#x000A;// add a and b:&#x000A;def add(a: Int, b: Int) = { a + b }&#x000A;&#x000A;// check result of (5 + 2) * 3:&#x000A;val result =&#x000A;  (5 + 2) * 3 == multiply(add(5, 2), 3)</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Procedures II</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>trait ExampleInterface {&#x000A;  def add(a: Int, b: Int): Int&#x000A;  def foo // Isn't something missing here?&#x000A;}</textarea>
    </p>

        <ul>
        <li>Is <code>foo</code> …

        <ul>
        <li>dynamically typed?</li>
        <li>typed with global type inference?</li>
        <li>using Top/Bottom types?</li>
        </ul>
        </li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Procedures</h1>

        <p><a href="images/eclipse-procedure-before-cropped.html"><img src="images/eclipse-procedure-before-cropped.png"/></a></p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Unit <code>()</code> Insertion</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>class Cell[T](value: T)&#x000A;&#x000A;new Cell(42)&#x000A;new Cell("Hi")&#x000A;new Cell // ???</textarea>
    </p>

        <p><textarea class='code' display='none' mode='text/x-scala'>val set1 = List(1,2,3).toSet&#x000A;val set2 = List(1,2,3).toSet()</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>XML Literals</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>val john = "John Doe"&#x000A;val xml =&#x000A;  <person>&#x000A;    <name>{john}</name>&#x000A;    <age>23</age>&#x000A;  </person>&#x000A;val age = xml \ "age"</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>XML Literals</h1>

        <ul>
        <li>Unsolved implementation issues</li>
        <li>Modularized in 2.11</li>
        <li>Removed from "core Scala"</li>
        <li>Hooks for third-party XML libraries</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>String Interpolation</h1>

        <ul>
        <li>New in 2.10</li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>val john = "John Doe"&#x000A;val age  = 23&#x000A;val text = s"$john is $age years old."</textarea>
    </p>

        <p><em>You know you need string interpolation,<br/>when people start using XML literals as a replacement!</em></p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>String Interpolation</h1>

        <ul>
        <li>Opportunity to remove dreaded<br>"from everything to String"-conversion</li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>val sum = "1 + 2" + 3 + 4</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>String Interpolation</h1>

        <ul>
        <li><p>Extensible by design</p></li>
        <li><p>Example: formatting interpolator</p></li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>val height = 1.9&#x000A;val name = "John"&#x000A;val text =&#x000A;  f"$name%s is $height%2.2f meters tall."</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>String Interpolation</h1>

        <ul>
        <li>Example: SQL interpolator</li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>val name = "<?!''&|*"&#x000A;sql"select * from coffees&#x000A;    where name = $name".as[Coffee]</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>View Bounds</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>// Only accept types which &#x000A;// are convertible to an Int&#x000A;def foo[A <% Int](value: A) =&#x000A;  value.toDouble&#x000A;&#x000A;/* Example 1 */&#x000A;// foo(1)</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>View Bounds</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>// Only accept types which &#x000A;// are convertible to an Int&#x000A;def foo[A <% Int](value: A) =&#x000A;  value.toDouble&#x000A;&#x000A;/* Example 2 */&#x000A;// implicit def strToInt(str: String) =&#x000A;//   str.toInt&#x000A;// foo("42")</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left orange slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>View Bounds</h1>

        <ul>
        <li>Limited usefulness and usage compared<br/>
        to Context Bounds (typeclasses)</li>
        <li><code>&lt;%</code> syntax deprecated in 2.11</li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>// def foo[A <% Int](value: A) =&#x000A;//  value.toDouble&#x000A;&#x000A;def foo[A](value: A)&#x000A;          (implicit conv: A => Int) =&#x000A;  value.toDouble</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green slide'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>The Future</h1>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Constant Inlining</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>// File A:&#x000A;final val foo = 42&#x000A;&#x000A;//File B:&#x000A;def getFoo = foo</textarea>
    </p>

        <ul>
        <li>Swaps run-time for compile-time dependency</li>
        <li>No performance benefit</li>
        <li>Increased compile time</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Default Imports</h1>

        <p>Types, members and packages from these<br/>scopes are available without import:</p>

        <ul>
        <li><strong><code>scala.Predef</code></strong></li>
        <li><strong><code>scala._</code></strong></li>
        <li><strong><code>java.lang._</code></strong></li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Default Imports: <code>java.lang</code></h1>

        <p><img src="images/buecherhaufen.jpg"/></p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Default Imports: <code>java.lang</code></h1>

        <p>Useless types:
        <code>Compiler</code>, <code>Enum</code>, <code>Number</code>, <code>Object</code>, <code>Void</code>, ...</p>

        <p>Shadowed types:
        <code>Boolean</code>, <code>Byte</code>, <code>Double</code>, <code>Float</code>, <code>Long</code>, ...</p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Default Imports: <code>java.lang</code></h1>

        <p>Not importing <code>java.lang._</code> by default:</p>

        <ul>
        <li>Easier portability (think JS)</li>
        <li>Less noise in the default namespace</li>
        <li>Better average code quality</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Implicit Widening Conversions</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>val nums = List(123456789, 1.0f)</textarea>
    </p>

        <p><textarea class='code' display='none' mode='text/x-scala'>val nums =&#x000A;  List(List(123456789), List(1.0f))</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Implicit Widening Conversions</h1>

        <ul>
        <li>Complete change of semantics regarding

        <ul>
        <li>Precision</li>
        <li>Division-By-Zero, error propagation</li>
        <li>Overflow handling, infinity
        <br/></li>
        </ul>
        </li>
        <li>Silent conversion inherently dangerous,<br/>not just for conversions which lose precision<br/>
        (e. g. <code>Int</code> to <code>Float</code>, <code>Long</code> to <code>Float</code>, <code>Long</code> to <code>Double</code>)</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Enums</h1>

        <p>Current options in Scala:</p>

        <ul>
        <li><code>scala.Enumeration</code></li>
        <li><code>sealed trait</code> + <code>object</code>s pattern</li>
        <li>Use Java</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Enums: <code>scala.Enumeration</code></h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>object WeekDay extends Enumeration {&#x000A;    type WeekDay = Value&#x000A;    val Mon, Tue, Wed, Thu,&#x000A;      Fri, Sat, Sun = Value&#x000A;  }</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Enums: <code>scala.Enumeration</code></h1>

        <ul>
        <li>Unintuitive to use</li>
        <li>Not compatible with Java's enums</li>
        <li><a href="https://issues.scala-lang.org/browse/SI-4334?jql=text%20~%20%22Enumeration%22">Terrible in more ways than you can imagine</a></li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Enums: <code>trait</code>/<code>object</code> pattern</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>sealed trait WeekDay&#x000A;object Mon extends WeekDay&#x000A;object Tue extends WeekDay&#x000A;object Wed extends WeekDay&#x000A;object Thu extends WeekDay&#x000A;object Fri extends WeekDay&#x000A;object Sat extends WeekDay&#x000A;object Sun extends WeekDay</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Enums: <code>trait</code>/<code>object</code> pattern</h1>

        <ul>
        <li>Extremely verbose</li>
        <li>Extremely powerful</li>
        <li>Not compatible with Java's enums</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Enums: Use Java</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>enum WeekDay {&#x000A;  Mon, Tue, Wed, Thu,&#x000A;  Fri, Sat, Sun&#x000A;}</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Enums: Use Java</h1>

        <ul>
        <li>Seriously?</li>
        <li>That's embarrising!</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Enums: <code>@enum</code> macro</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>@enum&#x000A;class WeekDay {&#x000A;  Mon; Tue; Wed; Thu;&#x000A;  Fri; Sat; Sun&#x000A;}</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Enums: <code>@enum</code> macro</h1>

        <ul>
        <li>Easy to use</li>
        <li>Java compatible</li>
        <li>Good replacement for <code>scala.Enumeration</code></li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Enums</h1>

        <p>Future options in Scala:</p>

        <ul>
        <li><del><code>scala.Enumeration</code></del></li>
        <li>GADTs: <code>sealed trait</code> + <code>objects</code></li>
        <li><del>Use Java</del></li>
        <li>Scala <code>@enum</code></li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Union and Intersection Types</h1>

        <ul>
        <li>Bug ticket <a href="https://issues.scala-lang.org/browse/SI-7402">SI-7402</a>:</li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>val result =&#x000A;  if (true) List(1) else Vector(1)</textarea>
    </p>

        <ul>
        <li>Computed type is correct, but … useful?</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Union and Intersection Types</h1>

        <ul>
        <li>Native support for "Set" operations on types</li>
        <li>Concise, precise and readable types</li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>val result: List[Int] | Vector[Int] =&#x000A;  if (true) List(1) else Vector(1)</textarea>
    </p>

        <p><textarea class='code' display='none' mode='text/x-scala'>val result: List[Int|String] = List(1, "")</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Union and Intersection Types</h1>

        <ul>
        <li>Scala already has some kind of union and intersection types …</li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>class Foo extends Bar with Baz</textarea>
    </p>

        <p><textarea class='code' display='none' mode='text/x-scala'>def foo(a: Any) = a match {&#x000A;  case _: String | _: Int =>&#x000A;  case                  _ =>&#x000A;}</textarea>
    </p>

        <ul>
        <li>… but lacks first-class support to reason about them in the type system</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Union and Intersection Types</h1>

        <ul>
        <li><p>Native support for unions and intersection types in <a href="http://lampwww.epfl.ch/~amin/dot/fool.pdf">DOT</a>, the formalization of Scala's next typesystem</p></li>
        <li><p>Stay tuned!</p></li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='green left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Better VM Support</h1>

        <ul>
        <li>Generics</li>
        <li>Value types</li>
        <li>Proper tail calls</li>
        <li>Delimited continuations</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='pink slide'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Lessons learned?</h1>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Basics</h1>

        <ul>
        <li>Distributed version control</li>
        <li>Bug tracking</li>
        <li>Test suites</li>
        <li>Continuous Integration</li>
        <li>Reviews and coding standards</li>
        <li>Specification</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Language/Code Evolution</h1>

        <p><strong>Code/Features/Libraries need time to mature!</strong></p>

        <ul>
        <li>Mark as <em>experimental</em> to manage user expectations</li>
        <li>Let different parts evolve at their own speed</li>
        <li>When in doubt, keep things out</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Language/Code Evolution</h1>

        <p><strong>Example: Scala Macros</strong></p>

        <ul>
        <li><em>Experimental</em></li>
        <li>Macro styles are promoted from incubator to mainline when they are ready</li>
        <li>Not everything survives the incubator</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Language/Code Evolution</h1>

        <p><strong>Example: Modularization</strong></p>

        <ul>
        <li>2.11 will ship modularized library</li>
        <li>Deprecated parts moved to own JAR files</li>
        <li>Libraries get own version number</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Bug Fixes</h1>

        <p><img src="images/ducttape.png"/></p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Compatibility</h1>

        <p><strong>Source</strong> or <strong>binary</strong> compatibility? Both?</p>

        <ul>
        <li>Java: “Never change anything, ever!”</li>
        <li>C#: “It depends”</li>
        <li>Python: “Where code goes to die”</li>
        <li>PHP: — No comment —</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Compatibility</h1>

        <p><strong>Scala:</strong></p>

        <ul>
        <li>Minor and update versions are source and binary compatible</li>
        <li>Major Verions are <strong>not</strong> binary compatible</li>
        <li>How to guarantee these rules?</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Tooling</h1>

        <p><a href="images/migration-manager.png"><img src="images/migration-manager.png"/></a></p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Deprecation Policy</h1>

        <ul>
        <li>Code/feature must be marked as "deprecated" for at least one major version</li>
        <li>Example:

        <ul>
        <li>Issue is found in 2.9</li>
        <li>Marked as deprecated in 2.10</li>
        <li>Fixed/removed in 2.11</li>
        </ul>
        </li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Evaluation Criteria</h1>

        <ul>
        <li>Quality of code/feature</li>
        <li>Impact of change</li>
        <li>Internal dependencies</li>
        <li>Available alternatives</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Language Deprecation</h1>

        <p>Requires modification of:</p>

        <ul>
        <li>Compiler</li>
        <li>Libraries</li>
        <li>IDE</li>
        <li>Specification</li>
        <li>Style guide</li>
        <li>Test suite</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Code Deprecation</h1>

        <ul>
        <li>Versioning
        <textarea class='code' display='none' mode='text/x-scala'>@deprecated("Use `Foo` instead.", "2.10")&#x000A;class Bar</textarea>
    </li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Code Deprecation</h1>

        <ul>
        <li>Versioning</li>
        <li>Precision

        <ul>
        <li>Inheritance
        <textarea class='code' display='none' mode='text/x-scala'>@deprecatedInheritance(&#x000A;  "`Bar` will be made final.", "2.10")&#x000A;class Bar</textarea>
    </li>
        </ul>
        </li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Code Deprecation</h1>

        <ul>
        <li>Versioning</li>
        <li>Precision

        <ul>
        <li>Inheritance</li>
        <li>Parameter naming
        <textarea class='code' display='none' mode='text/x-scala'>def foo(bar: Int)</textarea>
    </li>
        </ul>
        </li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Code Deprecation</h1>

        <ul>
        <li>Versioning</li>
        <li>Precision

        <ul>
        <li>Inheritance</li>
        <li>Parameter naming
        <textarea class='code' display='none' mode='text/x-scala'>def foo(@deprecatedName('bar)&#x000A;          baz: Int)</textarea>
    </li>
        </ul>
        </li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Code Deprecation</h1>

        <ul>
        <li>Versioning</li>
        <li>Precision

        <ul>
        <li>Inheritance</li>
        <li>Parameter naming</li>
        <li>Overriding
        <textarea class='code' display='none' mode='text/x-scala'>class Bar {&#x000A;  def foo = ???&#x000A;}</textarea>
    </li>
        </ul>
        </li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Code Deprecation</h1>

        <ul>
        <li>Versioning</li>
        <li>Precision

        <ul>
        <li>Inheritance</li>
        <li>Parameter naming</li>
        <li>Overriding
        <textarea class='code' display='none' mode='text/x-scala'>class Bar {&#x000A;  @deprecatedOverriding(&#x000A;    "`foo` will become final.", "2.10")&#x000A;  def foo = ???&#x000A;}</textarea>
    </li>
        </ul>
        </li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Results</h1>

        <ul>
        <li>Steady progress towards a smaller, more consistent Scala</li>
        <li>Requirements for changes are growing (migration, tooling, ...)</li>
        <li>Managing pressure to add new features (macros!)</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Conclusion</h1>

        <ul>
        <li>Manage expectations!</li>
        <li>Remove more things than you add!</li>
        <li>Keep things small, simple and consistent!</li>
        <li>Look out for UI/UX issues!</li>
        <li>Listen to/watch new users!</li>
        <li>Recognize common error patterns …</li>
        <li>… and emit warnings/compiler errors!</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='slide'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Thanks!</h1>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='slide'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Questions?</h1>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='pink slide'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Bonus Slides</h1>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Optimistic APIs</h1>

        <ul>
        <li>What happens if the behavior in a case of error is left unspecified?</li>
        <li>Example: Method <code>remove</code> takes two arguments

        <ul>
        <li>Position at which elements are removed</li>
        <li>Amount of elements to remove</li>
        </ul>
        </li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>import scala.collection.mutable.ListBuffer&#x000A;val buf = ListBuffer(1, 2, 3)&#x000A;buf remove (4, 4) // <-- Datenstruktur korrumpiert!</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Parallel Nightmares</h1>

        <ul>
        <li>Data structures implement the collection API</li>
        <li>The collection API supports sequential and parallel operations</li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>def twice(i: Int) = i * 2&#x000A;&#x000A;(1 to 1000) map twice</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Parallel Nightmares</h1>

        <ul>
        <li>Data structures implement the collection API</li>
        <li>The collection API supports sequential and parallel operations</li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>def twice(i: Int) = i * 2&#x000A;&#x000A;(1 to 1000) map twice</textarea>
    </p>

        <p><textarea class='code' display='none' mode='text/x-scala'>def brokenTwice(i: Int) =&#x000A;  if (i%42 == 0)&#x000A;    throw new RuntimeException(s"Failed: $i")&#x000A;  else i * 2&#x000A;&#x000A;(1 to 1000) map brokenTwice</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Parallel Nightmares</h1>

        <p><textarea class='code' display='none' mode='text/x-scala'>def brokenTwice(i: Int) =&#x000A;  if (i%42 == 0)&#x000A;    throw new RuntimeException(s"Failed: $i")&#x000A;  else i * 2&#x000A;&#x000A;(1 to 1000).par map brokenTwice</textarea>
    </p>

        <ul>
        <li>Parallel operations with multiple failures
        <ul>
        <li>Which and how many exceptions will be reported?</li>
        </ul>
        </li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>class CompositeThrowable(exceptions: Set[Exception])</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Parallel Nightmares</h1>

        <ul>
        <li>Parallel operations with multiple failures
        <ul>
        <li>Which and how many exceptions will be reported?</li>
        </ul>
        </li>
        </ul>

        <p><textarea class='code' display='none' mode='text/x-scala'>class CompositeThrowable(exceptions: Set[Exception])</textarea>
    </p>

        <ul>
        <li>If more than one exception is encountered,<br/> exceptions will be wrapped in <code>CompositeThrowable</code></li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Parallel Nightmares</h1>

        <ul>
        <li>Parallel operations with multiple failures
        <ul>
        <li>Which and how many exceptions will be reported?</li>
        </ul>
        </li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>class CompositeThrowable(exceptions: Set[Exception])</textarea>
    </p>

        <ul>
        <li>If more than one exception is encountered,<br/> exceptions will be wrapped in <code>CompositeThrowable</code></li>
        <li>Sounds reasonable, but ...<br /> <strong>completely non-deterministic exception handling!</strong></li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>Parallele Albträume</h1>

        <ul>
        <li><p>Sounds reasonable, but ...<br /> <strong>completely non-deterministic exception handling!</strong></p></li>
        <li>Number of exceptions?</li>
        <li>Type of exception?</li>
        <li>Broken tests!</li>
        <li>Non-reproducible behavior!</li>
        </ul>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='left pink slide top'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>The thing with the <strong>double colon</strong> …</h1>

        <ul>
        <li>A nethod naming ending with <code>:</code>

        <ul>
        <li>is <strong>right</strong>-associative …</li>
        <li>but only in <strong>operator syntax</strong>!</li>
        </ul>
        </li>
        </ul>


        <p><textarea class='code' display='none' mode='text/x-scala'>val list1 =  1  :: 2  :: 3  :: Nil&#x000A;&#x000A;val list2 = Nil.::(3).::(2).::(1)&#x000A;&#x000A;assert(list1 == list2)</textarea>
    </p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <section class='pink slide'>
      <div class='spacer top'></div>
      <div class='content'>
        <h1>The thing with the <strong>double colon</strong> …</h1>

        <p><img height="100%" src="images/munch-schrei.jpg"/></p>
      </div>
      <div class='spacer bottom'></div>
    </section>
    <!-- deck.js navigation extension -->
    <a class='deck-prev-link' href='#' title='Previous'>&#8592;</a>
    <a class='deck-next-link' href='#' title='Next'>&#8594;</a>
    <!-- deck.js hash extension -->
    <a class='deck-permalink' href='.' title='Permalink to this slide'>#</a>
    <!-- deck.js status extension -->
    <p class='deck-status'>
      <span class='deck-status-current'></span>
      /
      <span class='deck-status-total'></span>
    </p>
    <!-- jQuery & deck.js -->
    <script src="deck.js/support/jquery.1.6.4.min.js" type="text/javascript"></script>
    <script src="deck.js/core/deck.core.js" type="text/javascript"></script>
    <!-- deck.js extension JS files -->
    <script src="deck.js/extensions/navigation/deck.navigation.js" type="text/javascript"></script>
    <script src="deck.js/extensions/hash/deck.hash.js" type="text/javascript"></script>
    <script src="deck.js/extensions/menu/deck.menu.js" type="text/javascript"></script>
    <script src="deck.js/extensions/status/deck.status.js" type="text/javascript"></script>
    <script src="deck.js/extensions/goto/deck.goto.js" type="text/javascript"></script>
    <script src="deck.js/extensions/deck.js-codemirror/codemirror.js" type="text/javascript"></script>
    <script src="deck.js/extensions/deck.js-codemirror/deck.codemirror.js" type="text/javascript"></script>
    <script src="deck.js/extensions/scale/deck.scale.js" type="text/javascript"></script>
    <!-- Initialize the deck. -->
    <script type='text/javascript'>
      $(function() { $.deck('.slide'); });
    </script>
  </body>
</html>
