@font-face {
    font-family: 'Eveleth Regular';
    font-weight: normal;
    font-style: normal;
    src:
      local('Eveleth Regular'),
      url('fonts/EvelethRegular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Eveleth Shadow';
    font-weight: normal;
    font-style: normal;
    src:
      local('Eveleth Shadow'),
      url('fonts/EvelethShadow-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Eveleth Shapes';
    font-weight: normal;
    font-style: normal;
    src:
      local('Eveleth Shapes'),
      url('fonts/EvelethShapes-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Eveleth Icons';
    font-weight: normal;
    font-style: normal;
    src:
      local('Eveleth Icons'),
      url('fonts/EvelethIcons-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Pacifico';
    font-weight: normal;
    font-style: normal;
    src:
      local('Pacifico'),
      url('fonts/Pacifico.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Mono';
    font-weight: 400;
    font-style: normal;
    src:
      local('Fira Mono Regular'),
      url('fonts/FiraMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Fira Mono';
    font-weight: 500;
    font-style: normal;
    src:
      local('Fira Mono Medium'),
      url('fonts/FiraMono-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Fira Mono';
    font-weight: 700;
    font-style: normal;
    src:
      local('Fira Mono Bold'),
      url('fonts/FiraMono-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Fira Sans';
    font-weight: 400;
    font-style: normal;
    src:
      local('Fira Sans Regular'),
      url('fonts/FiraSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Fira Sans';
    font-weight: 400;
    font-style: italic;
    src:
      local('Fira Sans Italic'),
      url('fonts/FiraSans-RegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'Fira Sans';
    font-weight: 500;
    font-style: normal;
    src:
      local('Fira Sans Medium'),
      url('fonts/FiraSans-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Fira Sans';
    font-weight: 500;
    font-style: italic;
    src:
      local('Fira Sans Medium Italic'),
      url('fonts/FiraSans-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Fira Sans';
    font-weight: 700;
    font-style: normal;
    src:
      local('Fira Sans Bold'),
      url('fonts/FiraSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Fira Sans';
    font-weight: 700;
    font-style: italic;
    src:
      local('Fira Sans Bold Italic'),
      url('fonts/FiraSans-BoldItalic.woff') format('woff');
}
