:root {
  --color-grey-light:   #e9ecef;
  --color-grey-regular: #adb5bd;
  --color-grey-medium:  #868e96;
  --color-grey:         #495057;
  --color-grey-dark:    #343a40;

  --color-red-dark:     #442211;
}
