/**** Pacifico ****/

@font-face {
    font-family: 'Pacifico';
    font-weight: normal;
    font-style: normal;
    src:
      local('Pacifico'),
      url('/assets/fonts/Pacifico.ttf') format('truetype');
}
