/**** Merriweather ****/

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather Black"),
         url('../fonts/Merriweather-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather Black Italic"),
         url('../fonts/Merriweather-Black-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather Bold"),
         url('../fonts/Merriweather-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather Bold Italic"),
         url('../fonts/Merriweather-Bold-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather"),
         url('../fonts/Merriweather-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather Italic"),
         url('../fonts/Merriweather-Regular-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/**** Source Sans Pro ****/

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro ExtraLight"),
         url('WOFF2/TTF/SourceSansPro-ExtraLight.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro ExtraLight Italic"),
         url('WOFF2/TTF/SourceSansPro-ExtraLight-Italic.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSansPro-ExtraLight-Italic.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Light"),
         url('WOFF2/TTF/SourceSansPro-Light.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Light Italic"),
         url('WOFF2/TTF/SourceSansPro-Light-Italic.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSansPro-Light-Italic.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro"),
         url('WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Italic"),
         url('WOFF2/TTF/SourceSansPro-Italic.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSansPro-Italic.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro SemiBold"),
         url('WOFF2/TTF/SourceSansPro-Semibold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro SemiBold Italic"),
         url('WOFF2/TTF/SourceSansPro-Semibold-Italic.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSansPro-Semibold-Italic.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Bold"),
         url('WOFF2/TTF/SourceSansPro-Bold.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Bold Italic"),
         url('WOFF2/TTF/SourceSansPro-Bold-Italic.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSansPro-Bold-Italic.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Black"),
         url('WOFF2/TTF/SourceSansPro-Black.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Black Italic"),
         url('WOFF2/TTF/SourceSansPro-Black-Italic.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSansPro-Black-Italic.otf.woff') format('woff');
}
