////
/// Typography
////

// Our variables
//-------------------------------------
:root {
  --title-font-family:         "Merriweather", serif;
  --base-font-family:          "Sofia Sans", "Source Sans Pro", sans-serif;
  --base-fallback-font-family: "Source Sans Pro", sans-serif;
  --base-compact-font-family:  "Sofia Sans Semi Condensed", "Source Sans Pro", sans-serif;
  --page-font-family:          "Sofia Sans", "Open Sans", sans-serif;
  --mono-font-family:          "Fira Mono", monospace;

  --ratio:                   1.2;
  --base:                    1.0;
  --base-em:                 calc(var(--base) * 0.9em);

  --ms0:                     0.8;
  --ms1:                     calc(var(--ratio));              /* 1.2   */
  --ms2:                     calc(var(--ratio) * var(--ms1)); /* 1.44  */
  --ms3:                     calc(var(--ratio) * var(--ms2)); /* 1.728 */
  --ms4:                     calc(var(--ratio) * var(--ms3)); /* 2.074 */
  --ms5:                     calc(var(--ratio) * var(--ms4)); /* 2.488 */
  --ms6:                     calc(var(--ratio) * var(--ms5)); /* 2.986 */
  --ms7:                     calc(var(--ratio) * var(--ms6)); /* 3.583 */

  --smallest:                calc(var(--base-em) / var(--ms2));
  --smaller:                 calc(var(--base-em) / var(--ms1));
  --normal:                  calc(var(--base-em) * var(--ms0));
  --bigger:                  calc(var(--base-em) * var(--ms1));
  --title3:                  calc(var(--base-em) * var(--ms2));
  --title2:                  calc(var(--base-em) * var(--ms3));
  --title1:                  calc(var(--base-em) * var(--ms4) - 0.5px); /* fit more titles into one line */

  --line-height-base:        calc(var(--base) * var(--ms2));
  --base-line:               calc(var(--base-em) * var(--line-height-base));
}

code,
kbd,
pre,
samp {
  font-family: var(--mono-font-family);
}

.code {
  border: 1px solid var(--border-color-code);
  border-radius: 3px;
  background-color: var(--background-color-code);
  font-family: var(--mono-font-family);
  font-size: calc(var(--normal) * 1.2);
  white-space: pre-wrap;
}

.result {
  color: #99c;
  margin: 0px;
  padding: 0px;
  white-space: pre-wrap;
}

body {
  font-family: var(--base-font-family);
  font-weight: 400;
  font-size: var(--normal);
  line-height: calc(var(--base) * var(--ms4));
  hyphens: auto;
  hanging-punctuation: first last;
}

main {
  text-align: justify;
}

code {
  /*hyphens: none;*/
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: var(--title-font-family);
  font-weight: 500;
}

h3,
h2 { line-height: calc(var(--base) * var(--ms1)); }
h1 { line-height: calc(var(--base) * var(--ms0)); }

h6, .h6 { font-size: var(--smaller); }
h5, .h5 { font-size: calc(var(--normal) * 1.2); }
h4, .h4 { font-size: var(--bigger); }
h3, .h3 { font-size: var(--title3); }
h2, .h2 { font-size: var(--title2); }
h1, .h1 { font-size: var(--title1); }

@media #{$medium-up} {
  body {
    font-size: calc(var(--base-em));
    line-height: calc(var(--base) * var(--ms3));
    font-weight: 300;
  }
}

@media #{$large-up} {
  body {
    font-size: calc(var(--base-em) * var(--ms1));
  }
}

@media #{$xlarge-up} {
  body {
    font-size: calc(var(--base-em) * var(--ms2));
  }
}

@media #{$xxlarge-up} {
  body {
    font-size: calc(var(--base-em) * var(--ms4));
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  word-wrap: break-word;
  margin-top: var(--base-line);
  margin-bottom: var(--base-line);

  small,
  .small {
    font-size: 65%;
  }
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: calc(var(--base-line) * 1.5);
  margin-bottom: calc(var(--base-line) / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1,h2,h3,h4,h5,h6,.site-title {
  color: var(--title-color);
  &,a,a:visited {
    color: var(--title-color);
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

p {
  margin: 0 0 calc(var(--base-line) / 2);
}

p + ul, p + ol {
  margin-top: calc(var(--base-line) / -2);
}

sup {
  font-family: var(--base-fallback-font-family);
}

.compact {
  font-family: var(--base-compact-font-family);
  font-weight: 420;
}

@media #{$medium-up} {
  .compact {
    font-weight: 320;
  }
}
