.thin {
  font-size:9px;
  font-style:normal;
  font-variant:normal;
  font-weight:900;
  font-stretch:normal;
  color:#FFFFFF;
  text-align:start;
  line-height:125%;
  letter-spacing:0px;
  word-spacing:0px;
  writing-mode:lr-tb;
  text-anchor:start;
  font-family:"Eveleth Clean Thin";
}
