////
/// Header
////

// Site Header
.site-header {
  font-family: var(--title-font-family);
  color: var(--title-color);
  padding: 0.5em 0 0;
  text-align: center;
  @media #{$medium-up} {
    padding-bottom: var(--base-line);
  }
  .wrapper {
    @media #{$small-only} {
      display: flex;
      flex-direction: column;
      padding: 0;
      max-width: 100%;
    }
  }
  .wrapper--flex {
    @media #{$medium-up} {
      display: flex;
      flex-direction: row;
      align-content: center;
    }
  }
  a {
    text-decoration: none;
    color: var(--title-color);
  }
  .site-title {
    font-style: italic;
    display: block;
    margin: calc(var(--base-line) / 2) auto;
    font-size: calc(var(--base-em) * var(--ms5));
    @media #{$medium-up} {
      margin: 0 auto;
      font-size: var(--title1);
      text-align: left;
    }
    line-height: var(--ms2);
    font-weight: 500;
    text-align: center;
    &:hover {
      color: var(--title-color);
      text-decoration: none;
    }
    &:visited {
      color: var(--title-color);
    }
  }
}

.site-logo {
  flex-grow: 1;
}

.nav-main {
  display: flex;
  font-family: var(--page-font-family);
  font-size: var(--smaller);
  font-weight: 800;
  text-transform: uppercase;

  ul {
    display: table;
    margin: 0;
    padding: 0;
    min-width: 100%;
    list-style: none;
    text-align: center;

    @media #{$medium-up} {
      .wrapper--flex & {
        text-align: right;
      }
    }
  }
  li {
    display: table-cell;
    text-align: center;
    margin: 0;
    padding: 0.2rem 1.6rem 0;
    @media #{$medium-up} {
      padding: 0.2rem 0.6rem;
    }
  }
  a {
    & + & {
       margin-left: 1em;
    }
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: var(--title-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%;
    left: 0;
  }
  a.current-page:after {
    width: 100%;
    left: 0;
  }
}

// Exergue

.exergue {
  padding: 1em;
  width: 100%;
  text-align: center;
  color: #fff;
  background: $color-grey-dark;
  small {
    display: block;
    clear: both;
    width: 100%;
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}
