////
/// Post
////

.post {
  padding-bottom: $base-line;
  figure {
    text-align: center;
  }
  figcaption {
    font-style: italic;
  }
  img {
    margin: 0.5em auto 0;
  }
}

.post-meta {
  font-weight: 700;
}

.footnotes {
  margin-top: $base-line * 2;
  padding-top: $base-line;
  margin-bottom: $base-line;
  font-size: $base-em;
  border-top: 2px solid $color-grey-medium;
}

.date {
  font-size: $smaller;
  font-style: italic;
  margin-top: -$base-line * 1.5;
  margin-bottom: $base-line;
}
