////
/// Post
////

.post {
  padding-bottom: var(--base-line);
  figure {
    text-align: center;
  }
  figcaption {
    font-style: italic;
  }
  img {
    margin: 0.5em auto 0;
  }
}

.post-meta {
  font-weight: 700;
}

.footnotes {
  margin-top: calc(var(--base-line) * 2);
  padding-top: var(--base-line);
  margin-bottom: var(--base-line);
  font-size: var(--base-em);
  border-top: 2px solid $color-grey-medium;
}

.date {
  font-size: var(--smaller);
  font-style: italic;
  margin-top: calc(var(--base-line) * -1.5);
  margin-bottom: var(--base-line);
}
