/* Uncomment to turn off deck.js navigation */
.deck-prev-link, .deck-next-link {
    display: none;
}

.keydown.deck-container {
  font-family: 'Source Sans Pro', sans-serif;
}

.csstransforms .deck-container .slide h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.keydown.deck-container .green h1 {
  background-color: #5c951b;
  border-right: 2000px solid #5c951b;
  border-left: 2000px solid #5c951b;
}

.keydown.deck-container .purple h1 {
  background-color: #5c1b95;
  border-right: 2000px solid #5c1b95;
  border-left: 2000px solid #5c1b95;
}

.keydown.deck-container .pink h1 {
  background-color: #951b5c;
  border-right: 2000px solid #951b5c;
  border-left: 2000px solid #951b5c;
}

.keydown.deck-container .red h1 {
  background-color: #A10A00;
  border-right: 2000px solid #A10A00;
  border-left: 2000px solid #A10A00;
}

.keydown.deck-container .orange h1 {
  background-color: #c9551b;
  border-right: 2000px solid #c9551b;
  border-left: 2000px solid #c9551b;
}

.keydown.deck-container h1 {
  color: white;
  font-weight: 400;
  background-color: #1b5c95;
  padding-bottom: 200px;
  margin-left: -2000px;
  border-left: 2000px solid #1b5c95;
  margin-right: -2000px;
  border-right: 2000px solid #1b5c95;
  text-shadow: 2px 2px 5px black;
}

.deck-container .slide .CodeMirror {
  min-width: 1000px;
}

.keydown.deck-container h2 {
  color: #ee6768;
}

.cm-s-default span.cm-comment {
  color: yellow;
  font-style: italic;
}

.deck-container .slide .CodeMirror pre {
  font-size: 2em;
}
.deck-container .slide .CodeMirror {
    line-height: 2.5em;
    font-family: monospace;
    margin-top: 1em;
}

.deck-container .slide .deck-codemirror-result {
  width: 1000px;
  padding: 0px;
  padding-left: 10px;
  border: 0px;
  font-size: 1.5em;
}

.deck-container .slide .deck-codemirror-result pre {
  font-size: 1.5rem;
}

.slide.intro {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
}

.slide.intro h4 {
  /*color: white;*/
  color: #aaa;
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left:-20rem;
  margin-right:-20rem;
}

.slide.intro h4 a {
  color: rgb(0, 214, 255);
}


.slide.days h1 {
  margin-top: 5%;
  margin-bottom: 2%;  
}

.slide.days h3 {
  margin-top: 2%;
}

.keydown.deck-container .conclusion {
  background-color: #1b5c95 !important;
  border-color: #1b5c95 !important;
}
