/**** Merriweather ****/

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather Light"),
         url('/assets/fonts/Merriweather-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather Light Italic"),
         url('/assets/fonts/Merriweather-Light-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather"),
         url('/assets/fonts/Merriweather-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather Italic"),
         url('/assets/fonts/Merriweather-Regular-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather Bold"),
    url('/assets/fonts/Merriweather-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather Bold Italic"),
    url('/assets/fonts/Merriweather-Bold-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather Black"),
    url('/assets/fonts/Merriweather-Black.woff2') format('woff2');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Merriweather';
    src: local("Merriweather Black Italic"),
    url('/assets/fonts/Merriweather-Black-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}
