@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv05', 'cv08', 'cv09', 'cv10';
  src: url("/assets/fonts/Inter.woff2") format("woff2");
}
