/**** Fira GO ****/

@font-face {
  font-family: 'FiraGO';
  font-weight: 100;
  font-style: normal;
  src:
          local('FiraGO ExtraLight'),
          url('/assets/fonts/FiraGO-100.woff2') format('woff2');
}
@font-face {
  font-family: 'FiraGO';
  font-weight: 100;
  font-style: italic;
  src:
          local('FiraGO ExtraLight Italic'),
          url('/assets/fonts/FiraGO-100-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'FiraGO';
  font-weight: 200;
  font-style: normal;
  src:
          local('FiraGO Light'),
          url('/assets/fonts/FiraGO-200.woff2') format('woff2');
}
@font-face {
  font-family: 'FiraGO';
  font-weight: 200;
  font-style: italic;
  src:
          local('FiraGO Light Italic'),
          url('/assets/fonts/FiraGO-200-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'FiraGO';
  font-weight: 300;
  font-style: normal;
  src:
          local('FiraGO Book'),
          url('/assets/fonts/FiraGO-300.woff2') format('woff2');
}
@font-face {
  font-family: 'FiraGO';
  font-weight: 300;
  font-style: italic;
  src:
          local('FiraGO Book Italic'),
          url('/assets/fonts/FiraGO-300-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'FiraGO';
  font-weight: 400;
  font-style: normal;
  src:
          local('FiraGO Regular'),
          url('/assets/fonts/FiraGO-400.woff2') format('woff2');
}
@font-face {
  font-family: 'FiraGO';
  font-weight: 400;
  font-style: italic;
  src:
          local('FiraGO Italic'),
          url('/assets/fonts/FiraGO-400-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'FiraGO';
  font-weight: 500;
  font-style: normal;
  src:
          local('FiraGO Medium'),
          url('/assets/fonts/FiraGO-500.woff2') format('woff2');
}
@font-face {
  font-family: 'FiraGO';
  font-weight: 500;
  font-style: italic;
  src:
          local('FiraGO Medium Italic'),
          url('/assets/fonts/FiraGO-500-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'FiraGO';
  font-weight: 600;
  font-style: normal;
  src:
          local('FiraGO SemiBold'),
          url('/assets/fonts/FiraGO-600.woff2') format('woff2');
}
@font-face {
  font-family: 'FiraGO';
  font-weight: 600;
  font-style: italic;
  src:
          local('FiraGO SemiBold Italic'),
          url('/assets/fonts/FiraGO-600-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'FiraGO';
  font-weight: 700;
  font-style: normal;
  src:
          local('FiraGO Bold'),
          url('/assets/fonts/FiraGO-700.woff2') format('woff2');
}
@font-face {
  font-family: 'FiraGO';
  font-weight: 700;
  font-style: italic;
  src:
          local('FiraGO Bold Italic'),
          url('/assets/fonts/FiraGO-700-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'FiraGO';
  font-weight: 800;
  font-style: normal;
  src:
          local('FiraGO ExtraBold'),
          url('/assets/fonts/FiraGO-800.woff2') format('woff2');
}
@font-face {
  font-family: 'FiraGO';
  font-weight: 800;
  font-style: italic;
  src:
          local('FiraGO ExtraBold Italic'),
          url('/assets/fonts/FiraGO-800-Italic.woff2') format('woff2');
}


@font-face {
  font-family: 'FiraGO';
  font-weight: 900;
  font-style: normal;
  src:
          local('FiraGO Heavy'),
          url('/assets/fonts/FiraGO-900.woff2') format('woff2');
}
@font-face {
  font-family: 'FiraGO';
  font-weight: 900;
  font-style: italic;
  src:
          local('FiraGO Heavy Italic'),
          url('/assets/fonts/FiraGO-900-Italic.woff2') format('woff2');
}
