/**** Source Sans Pro ****/

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro ExtraLight"),
         url('/assets/fonts/SourceSansPro-ExtraLight.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro ExtraLight Italic"),
         url('/assets/fonts/SourceSansPro-ExtraLight-Italic.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Light"),
         url('/assets/fonts/SourceSansPro-Light.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Light Italic"),
         url('/assets/fonts/SourceSansPro-Light-Italic.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro"),
         url('/assets/fonts/SourceSansPro-Regular.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Italic"),
         url('/assets/fonts/SourceSansPro-Regular-Italic.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro SemiBold"),
         url('/assets/fonts/SourceSansPro-Semibold.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro SemiBold Italic"),
         url('/assets/fonts/SourceSansPro-Semibold-Italic.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Bold"),
         url('/assets/fonts/SourceSansPro-Bold.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Bold Italic"),
         url('/assets/fonts/SourceSansPro-Bold-Italic.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Black"),
         url('/assets/fonts/SourceSansPro-Black.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    src: local("Source Sans Pro Black Italic"),
         url('/assets/fonts/SourceSansPro-Black-Italic.woff2') format('woff2');
}
