/**** Eveleth ****/

@font-face {
    font-family: 'Eveleth Clean Thin';
    src: url('/assets/fonts/EvelethCleanThin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eveleth Icons';
    font-weight: normal;
    font-style: normal;
    src:
      local('Eveleth Icons'),
      url('/assets/fonts/EvelethIcons.woff') format('woff');
}

@font-face {
    font-family: 'Eveleth Regular';
    font-weight: normal;
    font-style: normal;
    src:
      local('Eveleth Regular'),
      url('/assets/fonts/EvelethRegular.woff') format('woff');
}

@font-face {
    font-family: 'Eveleth Shadow';
    font-weight: normal;
    font-style: normal;
    src:
      local('Eveleth Shadow'),
      url('/assets/fonts/EvelethShadow.woff') format('woff');
}

@font-face {
    font-family: 'Eveleth Shapes';
    font-weight: normal;
    font-style: normal;
    src:
      local('Eveleth Shapes'),
      url('/assets/fonts/EvelethShapes.woff') format('woff');
}
