/**** Fira Mono ****/

@font-face {
  font-family: 'Fira Mono';
  font-weight: 300;
  font-style: normal;
  src:
    local('Fira Mono Regular'),
    url('/assets/fonts/FiraMono-Regular.woff2');
}

@font-face {
    font-family: 'Fira Mono';
    font-weight: 500;
    font-style: normal;
    src:
      local('Fira Mono Medium'),
      url('/assets/fonts/FiraMono-Medium.woff2');
}

@font-face {
    font-family: 'Fira Mono';
    font-weight: 700;
    font-style: normal;
    src:
      local('Fira Mono Bold'),
      url('/assets/fonts/FiraMono-Bold.woff2');
}
