////
/// Very basic styles
////

html,
body {
  box-sizing: border-box;
  margin: 0;
  color: $text-color;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Images
// -------------------------

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

// We need to revert these for Google maps cause else it breaks!
%img--no-max,
.img--no-max {
  max-width: none;
}


// Figures
// -------------------------

figure > img {
  display: block;
}

figcaption {
  font-size: $small;
}

// Links
// -------------------------

a {
  /*text-decoration: none;*/
  color: $link-color;

  &:visited {
    /*color: $link-color;*/
  }
  &:hover {
    text-decoration: none;
    text-shadow:
      1px 1px 0 #fff,
      -1px 1px 0 #fff,
      -1px -1px 0 #fff,
      1px -1px 0 #fff;
    background:  linear-gradient(#999, #999) center 1.15em no-repeat;
    background-size: 85% 2px;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover, &:active {
    outline: none;
  }
}

main a {
  text-shadow:
    1px 1px 0 #fff,
    -1px 1px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff;

  background: linear-gradient(#999, #999) center 1.15em no-repeat;
  background-size: 75% 2px;
  transition: background-size .2s ease;
}

main p a,
main li a,
main sup a,
main table tr th a,
main table tr td a,
main table tbody tr th a,
main table tbody tr td a,
main .posts a {
  text-decoration-line: underline;
  /*text-decoration-style: dotted;*/
  text-decoration-color: $color-grey-regular;
  text-shadow: none;
  background: none;
  background-size: 100%;
  transition: none;
  &:hover {
    text-decoration-line: underline;
    /*text-decoration-style: dotted;*/
    text-decoration-color: $color-grey-medium;
    color: $color-grey-darker;
    text-shadow: none;
    background: none;
    background-size: 100%;
    transition: none;
  }
}

.table-topic {
  width: 7em;
}

table.table-medium {
  table-layout: fixed;
  line-height: 110%;
  font-size: 90%;
}

table.table-medium th, table.table-medium td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

table.table-medium tr:nth-child(even) {
  background: #eee;
}

table.table-small {
  font-size: 60%;
  text-align: center;
  line-height: 110%;
}

table.table-small tr:nth-child(even) {
  background: #eee;
}

table.table-small tr th:first-child,
table.table-small tr td:first-child {
  font-weight: bold;
  border-right: 2px solid #cccccc;
}

// Lists
// -------------------------

ul,ol {
  margin-top: 0;
  margin-bottom: $base-line;
  li {
    margin-bottom: 0.5rem;
  }
}

ul {
  list-style-type: circle;
}

// List options
// -------------------------

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Inline turns list items into inline-block
.list-inline {
  @extend .list-unstyled;

  > li {
    display: inline-block;
    margin: 0 -5px 0 0;
  }
}

// Description Lists
// -------------------------

dl {
  margin-top: 0; // Remove browser default
  margin-bottom: $base-line;
}
dt,
dd {
  line-height: $line-height-base;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0; // Undo browser default
}

// Blockquotes
// -------------------------

blockquote,
blockquote p,
q {
  color: $color-grey;
}

blockquote {
  margin-left: $base-line;
  padding-left: $base-line / 2;
  border-left: 2px solid $color-grey-medium;
  > :last-child {
    margin-bottom: 0;
  }
}

blockquote cite {
  display: block;
  color: $color-grey-dark;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
  color: $color-grey-dark;
}


// Code formatting
// -------------------------

pre,
code {
  border: 1px solid $color-grey-light;
  border-radius: 3px;
  background-color: #fdfdfd;
}

code {
  padding: 1px 5px;
  font-size-adjust: 0.5;
}

pre {
  padding: 8px 12px;
  > code {
    padding-right: 0;
    padding-left: 0;
    border: 0;
  }
}

table {
  width: 100%;
  table-layout: fixed;
  > thead > tr {
    > th, > td {
      border-bottom: 2px solid #ccc;
    }
  }
}
